@tailwind base;
@tailwind components;
@tailwind utilities;

@import './fonts/style.css';
@import './base.scss';

#app {
  width: 100vw;
  height: 100vh;
  font-weight: normal;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1.4em;
  display: flex;
  flex-flow: column;
}

